<template name="MainLayout">
  <div class="loader">
    <img src="/images/loader.gif" />
  </div>


  {{> Header}}
  <main>
    <div class="container">
      <!-- alerts -->
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success text-center my-hide"></div>
          <div class="alert alert-info text-center my-hide"></div>
          <div class="alert alert-warning text-center my-hide"></div>
          <div class="alert alert-danger text-center my-hide"></div>
        </div>
      </div>



      {{> Template.dynamic template=main}}
    </div>
  </main>
</template>
